USE [master]
GO
/****** Object:  Database [CleanPlanetFatkulin]    Script Date: 25.09.2025 11:49:52 ******/
CREATE DATABASE [CleanPlanetFatkulin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CleanPlanetFatkulin', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\CleanPlanetFatkulin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CleanPlanetFatkulin_log', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\CleanPlanetFatkulin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CleanPlanetFatkulin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CleanPlanetFatkulin]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_CalcServiceCost]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   5) Функция расчета себестоимости услуги
      (материалы + трудозатраты)
   ========================= */
CREATE   FUNCTION [dbo].[ufn_CalcServiceCost](@ServiceId INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
	/* Если чего-то нет — вернуть -1 */
	IF NOT EXISTS (SELECT 1 FROM dbo.Services WHERE ServiceId = @ServiceId)
		RETURN -1;

	DECLARE @materials DECIMAL(18,4) = (
		SELECT
			SUM(n.QuantityPerService * m.Price * (1 + mt.OverusePercent))
		FROM dbo.ServiceMaterialNorms n
		JOIN dbo.Materials m     ON m.MaterialId     = n.MaterialId
		JOIN dbo.MaterialType mt ON mt.MaterialTypeId = m.MaterialTypeId
		WHERE n.ServiceId = @ServiceId
	);

	DECLARE @labor DECIMAL(18,4) = (
		SELECT s.TimeNormHours * q.HourlyRate
		FROM dbo.Services s
		JOIN dbo.Qualification q ON q.QualificationId = s.QualificationId
		WHERE s.ServiceId = @ServiceId
	);

	IF @materials IS NULL OR @labor IS NULL
		RETURN -1;

	RETURN CAST(@materials + @labor AS DECIMAL(18,2));
END;
GO
/****** Object:  Table [dbo].[PartnerType]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerType](
	[PartnerTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerId] [int] IDENTITY(1,1) NOT NULL,
	[PartnerTypeId] [int] NOT NULL,
	[PartnerName] [nvarchar](200) NOT NULL,
	[DirectorFullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[LegalAddress] [nvarchar](400) NOT NULL,
	[INN] [nvarchar](20) NOT NULL,
	[Rating] [int] NOT NULL,
	[LogoPath] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vPartners]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   4) Представления для удобства
   ========================= */
CREATE   VIEW [dbo].[vPartners] AS
SELECT p.PartnerId, pt.TypeName AS PartnerType, p.PartnerName, p.Rating,
       p.DirectorFullName, p.Email, p.Phone, p.LegalAddress, p.INN
FROM dbo.Partners p
JOIN dbo.PartnerType pt ON pt.PartnerTypeId = p.PartnerTypeId;
GO
/****** Object:  Table [dbo].[Services]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[QualificationId] [int] NOT NULL,
	[ServiceCode] [nvarchar](50) NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[MinPartnerPrice] [decimal](12, 2) NOT NULL,
	[TimeNormHours] [decimal](9, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerServiceHistory]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerServiceHistory](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[PartnerId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PerformedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vPartnerServiceHistory]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vPartnerServiceHistory] AS
SELECT h.HistoryId, p.PartnerName, s.ServiceName, h.Quantity, h.PerformedAt
FROM dbo.PartnerServiceHistory h
JOIN dbo.Partners p ON p.PartnerId = h.PartnerId
JOIN dbo.Services  s ON s.ServiceId  = h.ServiceId;
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[MaterialName] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[MaterialTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[OverusePercent] [decimal](9, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[QualificationId] [int] IDENTITY(1,1) NOT NULL,
	[QualificationName] [nvarchar](100) NOT NULL,
	[HourlyRate] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QualificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[QualificationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceMaterialNorms]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceMaterialNorms](
	[ServiceId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[QuantityPerService] [decimal](12, 3) NOT NULL,
 CONSTRAINT [PK_ServiceMaterialNorms] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 25.09.2025 11:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[ServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[ComplexityCoeff] [decimal](9, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Materials_Name]    Script Date: 25.09.2025 11:49:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Materials_Name] ON [dbo].[Materials]
(
	[MaterialName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Partners_INN]    Script Date: 25.09.2025 11:49:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Partners_INN] ON [dbo].[Partners]
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Partners_Name]    Script Date: 25.09.2025 11:49:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Partners_Name] ON [dbo].[Partners]
(
	[PartnerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_History_PartnerDate]    Script Date: 25.09.2025 11:49:52 ******/
CREATE NONCLUSTERED INDEX [IX_History_PartnerDate] ON [dbo].[PartnerServiceHistory]
(
	[PartnerId] ASC,
	[PerformedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_Type]    Script Date: 25.09.2025 11:49:52 ******/
CREATE NONCLUSTERED INDEX [IX_Services_Type] ON [dbo].[Services]
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Partners] ADD  CONSTRAINT [DF_Partners_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Partners] ADD  CONSTRAINT [DF_Partners_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([MaterialTypeId])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialType]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_PartnerType] FOREIGN KEY([PartnerTypeId])
REFERENCES [dbo].[PartnerType] ([PartnerTypeId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_PartnerType]
GO
ALTER TABLE [dbo].[PartnerServiceHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_Partner] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([PartnerId])
GO
ALTER TABLE [dbo].[PartnerServiceHistory] CHECK CONSTRAINT [FK_History_Partner]
GO
ALTER TABLE [dbo].[PartnerServiceHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[PartnerServiceHistory] CHECK CONSTRAINT [FK_History_Service]
GO
ALTER TABLE [dbo].[ServiceMaterialNorms]  WITH CHECK ADD  CONSTRAINT [FK_SvcNorms_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[ServiceMaterialNorms] CHECK CONSTRAINT [FK_SvcNorms_Material]
GO
ALTER TABLE [dbo].[ServiceMaterialNorms]  WITH CHECK ADD  CONSTRAINT [FK_SvcNorms_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceMaterialNorms] CHECK CONSTRAINT [FK_SvcNorms_Service]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Qualification] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([QualificationId])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Qualification]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceType] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceType] ([ServiceTypeId])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceType]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [CK_Partners_Rating_NonNegative] CHECK  (([Rating]>=(0)))
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [CK_Partners_Rating_NonNegative]
GO
ALTER TABLE [dbo].[PartnerServiceHistory]  WITH CHECK ADD  CONSTRAINT [CK_History_Qty_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PartnerServiceHistory] CHECK CONSTRAINT [CK_History_Qty_Positive]
GO
USE [master]
GO
